{{ define "main" }}
  <script type="text/javascript">
    new WOW().init();
  </script>

  <section id="home" class="relative flex items-center justify-end vh-100 w-100 bg-top bg-fixed cover lh-solid" style="background-image: url('{{ .Params.image }}')">
    <article class="w-50">
    <div class="lh-title">
      <h1 class="mt0 mb2 f1 fw7 black rbc ttu">{{.Title}}</h1>
      <h2 class="mt0 mb2 f3 fw4 black rb ttu tracked">{{.Params.subtitle}}</h2>
      <p class="mt0 mb3 lh-copy measure">{{.Summary}}</p>
    </div>
    <div class="pl3 pl0-ns">
      {{ range .Params.links }}
        <a href="{{.link.target}}" target="_blank" class="db mv2 w5 tc link bg-transparent black f5 fw5 pv2 pv3-ns ph4 ba bw1 br2 b--black dim ttu">{{ .link.text }}</a>
      {{ end }}
      <span class="db w4 mt4 bb bw2 b--dark-pink"></span>
      <div class="mt4">
        <a href="http://facebook.com" target="_blank" class="mr3 link black dim">
          <svg class="icon icon-facebook2 f5"><use xlink:href="/icomoon/symbol-defs.svg#icon-facebook2"></use></svg>
        </a>
        <a href="http://instagram.com" target="_blank" class="mr3 link black dim">
          <svg class="icon icon-instagram"><use xlink:href="/icomoon/symbol-defs.svg#icon-instagram"></use></svg>
        </a>
        <a href="http://twitter.com" target="_blank" class="mr3 link black dim">
          <svg class="icon icon-twitter"><use xlink:href="/icomoon/symbol-defs.svg#icon-twitter"></use></svg>
        </a>
        <a href="http://youtube.com" target="_blank" class="mr3 link black dim">
          <svg class="icon icon-youtube"><use xlink:href="/icomoon/symbol-defs.svg#icon-youtube"></use></svg>
        </a>
      </div>
    </div>
    </article>
  </section>

{{ end }}
